@font-face {
    font-family: Slabo;
    src: url(https://fonts.gstatic.com/s/slabo27px/v6/11hEGp_azEvXZUdSBzzRcKc.ttf);
    font-weight: normal;
    font-style: normal;
    font-size:12px;
}

html {
    font-family: Slabo, sans-serif;
    background-color: gray;
    color: white;
}

h1 {
    width: 90%;
    font-weight: bold;
    font-size: 5.2rem;
    display: flex;
    float: center;
}

article {
    display: block;
    width: 90%;
    text-align: left;
    margin: auto;
}

p {
    line-height: 25px;
}

article h2 {
    display: flex;
    height: 75px;
    margin: auto;
    width: auto;
    float: center;
    align-items: last baseline;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: underline black;
}

header {
    width: auto;
}

header #nav {
    list-style: none;
    display: inline-flex;

}

#nav li{
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;

}

#nav a {
    text-decoration: none;
}

#nav a:active {
    color: black;
}

#nav a:

h3 {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.displayProject {
    background-color: white;
    color: black;
}

#project {
    display: inline-flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    text-wrap:wrap;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}

#project .pr {
    width: 300px;
    height: auto;
}

#project p {
    width: 300px;
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 1px;
    margin-left: 1px;
}

#project a {
    color: black;
    text-decoration: none;
}

