@font-face {
    font-family: Slabo;
    src: url(https://fonts.gstatic.com/s/slabo27px/v6/11hEGp_azEvXZUdSBzzRcKc.ttf);
    font-weight: normal;
    font-style: normal;
    font-size:12px;
}

* {
    font-family: Slabo, sans-serif;
    background-color: gray;
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 5.2rem;
    display: flex;
    float: center;
}

article {
    display: block;
    width: 90%;
    text-align: left;
    margin: auto;
}

p {
    line-height: 25px;
}

article h2 {
    display: flex;
    height: 75px;
    margin: auto;
    width: auto;
    float: center;
    align-items: last baseline;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: underline black;
}

header {
    width: auto;
}

header #nav {
    list-style: none;
    display: inline-flex;

}

#nav li{
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;

}

#nav a {
    text-decoration: none;
}

